.movie-container {
    display: flex;
    flex-wrap: wrap;
}

.movie-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-card a {
    text-decoration: none;
    color: #000;
}

.movie-card h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.movie-card p {
    margin: 5px 0 0 0;
    padding: 0;
}
