<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Heaven Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Welcome to Heaven Movies! Explore a vast collection of movies and have fun.">
    <meta name="author" content="Heaven Movies Team">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/landingStyle.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Movie Heaven </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/movies}">Explore Movies</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container shadow rounded bg-white p-4 my-5">
    <h1 class="mb-3 welcome-message">Welcome to Movie Heaven !</h1>
    <p class="mb-4 text-muted">We're glad to have you here. Are You Ready For Some FUN.</p>
    <a th:href="@{'/movies'}" class="btn btn-primary">Explore Movies</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
